
html,body{
  font-family: 'Righteous', sans-serif;
  padding: 0px;
  margin:0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
    /* background: #2cbae7; */
    background:linear-gradient(45deg, #2196f3 15%,#3f69b5 85%);/* #2cbae7;*/
}
.section{
width:100%;
box-sizing: border-box;
margin:0px;
}

#first-section{
  height: 50vh;
  width: 100%;

  position: relative;
  overflow: hidden;
}
#project-section{

  /* background: #2cbae7; */
}

#particles-js{
  position: absolute;
  width:100%;
  height: 100%;
}

#big-logo{
  height:50vmin;


}
#welcome{
user-select: none;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,calc( -50% - 20px ));
  text-align: center;
  color:white;
  width: 100%;
  font-family: 'Josefin Slab', serif;

max-height: calc( 100% - 40px );
overflow-y: auto;
}
#welcome h1{
  color:white;
  font-size: 3em;
  margin: 0px;
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
  letter-spacing: 0.5em;
}
#welcome p{
  font-family: 'Righteous', serif;
  max-width: 500px;
  transform: translate(-50%,0);
    margin-left: 50%;
}
#nav{
  position: absolute;
    bottom: 0px;
    padding: 10px;
    background: none;
    width:100%;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid white;

}
#nav-top{
  position: absolute;
    top: 0px;
    padding: 10px;
    background: none;
    width:100%;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    text-align: left;

}
#nav-projects{

    padding: 10px;
    background: none;
    width:100%;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid white;

}

.nav-option{
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
}
#project-grid{
  width: 100%;
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.project{
  height:25vw;
  margin: 0px;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  outline:1px solid white;
}
.grid{
    background-color: transparent;
    background-image:
    linear-gradient(0deg, transparent 9%,
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent),
    linear-gradient(90deg, transparent 9%,
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent);

    height:100%;
  background-size:50px 50px;
}
.p-image{
  min-height: 25vw;
  height:25vw;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  filter: sepia(1)  hue-rotate(173deg);
}
.project h1{
  font-size: 2em;
}
@media screen and (max-width: 1400px) {
  #project-grid{
    width: 100%;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .project{
    height:33.33vw;
    margin: 0px;
    overflow: hidden;
    position: relative;
    display: inline-flex;
  }
  .p-image{
    min-height: 33.33vw;
    height:33.33vw;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
  }
}
@media screen and (max-width: 980px) {
  #project-grid{
    width: 100%;
    display: grid ;
    grid-template-columns: 1fr 1fr;
  }
  .project{
    height:50vw;
    margin: 0px;
    overflow: hidden;
    position: relative;
    display: inline-flex;
  }
  .p-image{
    min-height: 50vw;
    height:50vw;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
  }
}
@media screen and (max-width: 700px) {
  #project-grid{
    width: 100%;
    display: grid ;
    grid-template-columns: 1fr;
  }
  .project{
    height:100vw;
    margin: 0px;
    overflow: hidden;
    position: relative;
    display: inline-flex;
  }
  .p-image{
    min-height: 100vw;
    height:100vw;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
  }
}
#project-template{
  display: none;
}
#plus{
  font-size: 4em !important;
  margin: 0px;
}
#words{
  position: absolute;
    bottom: 0px;
    top:0px;
    left:0px;
    right:0px;
}
.page{
  display: none;
  height:100%;
  width: 100%;
  overflow: hidden;
  transition: transform 1s;
  position: absolute;
}
.page[page="home"]{
height:50vh;
}
#first-section[page="home"] .page[page="home"]{
  display: block;
  transform: translate(0,0);
}
#first-section[page="home"] .page[page="about"]{
  display: block;
  transform: translate(100%,0);
}
#first-section[page="home"] .page[page="contact"]{
  display: block;
  transform: translate(200%,0);
}

#first-section[page="about"] .page[page="home"]{
  display: block;
  transform: translate(-100%,0);
}
#first-section[page="about"] .page[page="about"]{
  display: block;
  transform: translate(0,0);
}
#first-section[page="about"] .page[page="contact"]{
  display: block;
  transform: translate(100%,0);
}

#first-section[page="contact"] .page[page="home"]{
  display: block;
  transform: translate(-200%,0);
}
#first-section[page="contact"] .page[page="about"]{
  display: block;
  transform: translate(-100%,0);
}
#first-section[page="contact"] .page[page="contact"]{
  display: block;
  transform: translate(0%,0);
}

#first-section[page="home"]{
  height: 50vh;
  transition: height 1s;
}
#first-section[page="about"]{
  height: 50vh;
  transition: height 1s;
}
#first-section[page="contact"]{
  height: 50vh;
  transition: height 1s;
}
#project-section{
  position: relative;
  overflow: hidden;
}
/*#project-section[page="about"]{
  height: 0vh;
  transition: height 1s;

}*/


.project .project-hover{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  
  /*background:linear-gradient(45deg, #2196f3 15%,#3f69b5 85%);*?
  /* #2cbae7;*/
}

.project .project-text{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  color:white;
}
.project:hover .project-hover{

  opacity: 1;
  transition: opacity 0.5s;
}
.project:hover .p-image{

  opacity: 0;
  transition: opacity 0.5s;
}
.go-button{
  display: inline-block;
  text-align: center;

}
.form-contact .mdl-textfield {
    width: 100%;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255,255,255,0.5);
    border: 1px solid white;
}
#welcome::-webkit-scrollbar {
    display: none;
}
.form-contact{
  max-width: 500px;
  margin-left: 50%;
  transform: translate(-50%,0);
}
.cole-button{
  border:1px solid rgba(255, 255, 255, .5);
  background:none !important;/*linear-gradient(45deg, #2196f3 15%,#3f69b5 85%) !important;*/ /*#2cbae7 !important;*/
  box-shadow: none !important;
}
#nav-top span{
  font-size: 20px;
}
a{
  color:white;
}