
html,body{
  font-family: Roboto;
  padding: 0px;
  margin:0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.section{
width:100%;
box-sizing: border-box;
margin:0px;
}

#first-section{
  height: 50vh;
  width: 100%;
  background: white;
  position: relative;
  overflow: hidden;
}

#particles-js{
  position: absolute;
  width:100%;
  height: 100%;
}

#big-logo{
  height:50vmin;


}
#welcome{
user-select: none;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,calc( -50% - 20px ));
  text-align: center;
  color:black;
  width: 100%;
  font-family: "Righteous";

max-height: calc( 100% - 40px );
overflow-y: auto;
}
#welcome h1{
  color:black;
  font-size: 2em;
  font-weight: normal;
  margin: 0px;

}
#welcome p{
  font-family: Roboto,sans-serif;
  max-width: 500px;
  transform: translate(-50%,0);
    margin-left: 50%;
}
#nav{
  position: absolute;
    bottom: 0px;
    padding: 10px;
    background: none;
    width:100%;
    box-sizing: border-box;
    color: black;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid black;

}
#nav-top{
  position: absolute;
    top: 0px;
    padding: 10px;
    background: none;
    width:100%;
    box-sizing: border-box;
    color: black;
    text-transform: uppercase;
    text-align: left;

}
#nav-projects{

    padding: 10px;
    background: none;
    width:100%;
    box-sizing: border-box;
    color: black;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid black;

}

.nav-option{
  padding: 10px;
  font-size: 14px;
}
#project-grid{
  width: 100%;
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.project{
  height:25vw;
  margin: 0px;
  overflow: hidden;
  position: relative;
  display: inline-flex;
}
.p-image{
  min-height: 25vw;
  height:25vw;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.project h1{
  font-size: 2em;
}
@media screen and (max-width: 1400px) {
  #project-grid{
    width: 100%;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .project{
    height:33.33vw;
    margin: 0px;
    overflow: hidden;
    position: relative;
    display: inline-flex;
  }
  .p-image{
    min-height: 33.33vw;
    height:33.33vw;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
  }
}
@media screen and (max-width: 980px) {
  #project-grid{
    width: 100%;
    display: grid ;
    grid-template-columns: 1fr 1fr;
  }
  .project{
    height:50vw;
    margin: 0px;
    overflow: hidden;
    position: relative;
    display: inline-flex;
  }
  .p-image{
    min-height: 50vw;
    height:50vw;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
  }
}
@media screen and (max-width: 700px) {
  #project-grid{
    width: 100%;
    display: grid ;
    grid-template-columns: 1fr;
  }
  .project{
    height:100vw;
    margin: 0px;
    overflow: hidden;
    position: relative;
    display: inline-flex;
  }
  .p-image{
    min-height: 100vw;
    height:100vw;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
  }
}
#project-template{
  display: none;
}
#plus{
  font-size: 4em !important;
  margin: 0px;
}
#words{
  position: absolute;
    bottom: 0px;
    top:0px;
    left:0px;
    right:0px;
}
.page{
  display: none;
  height:100%;
  width: 100%;
  overflow: hidden;
  transition: transform 1s;
  position: absolute;
}
#first-section[page="home"] .page[page="home"]{
  display: block;
  transform: translate(0,0);
}
#first-section[page="home"] .page[page="about"]{
  display: block;
  transform: translate(100%,0);
}
#first-section[page="home"] .page[page="contact"]{
  display: block;
  transform: translate(200%,0);
}

#first-section[page="about"] .page[page="home"]{
  display: block;
  transform: translate(-100%,0);
}
#first-section[page="about"] .page[page="about"]{
  display: block;
  transform: translate(0,0);
}
#first-section[page="about"] .page[page="contact"]{
  display: block;
  transform: translate(100%,0);
}

#first-section[page="contact"] .page[page="home"]{
  display: block;
  transform: translate(-200%,0);
}
#first-section[page="contact"] .page[page="about"]{
  display: block;
  transform: translate(-100%,0);
}
#first-section[page="contact"] .page[page="contact"]{
  display: block;
  transform: translate(0%,0);
}

#first-section[page="home"]{
  height: 50vh;
  transition: height 1s;
}
#first-section[page="about"]{
  height: 100vh;
  transition: height 1s;
}
#first-section[page="contact"]{
  height: 50vh;
  transition: height 1s;
}
#project-section{
  position: relative;
  overflow: hidden;
}
#project-section[page="about"]{
  height: 0vh;
  transition: height 1s;

}


.project .project-hover{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  background: rgba(255,255,255,1);
}

.project .project-text{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);

}
.project:hover .project-hover{

  opacity: 1;
  transition: opacity 0.5s;
}
.go-button{
  padding:4px;
  border-radius: 3px;
  text-decoration: none;
  display: block;
  background: rgb(62, 109, 171);
  color:white;
  text-align: center;
}
.form-contact .mdl-textfield {
    width: 100%;
}
.form-contact{
  max-width: 500px;
  margin-left: 50%;
  transform: translate(-50%,0);
}
